APP_ENV=development

JWT_SECRET_KEY=5cced338524f8790417bf99ed88e3c8d526cb8e1eb60f545385d8ddd0cdade64
JWT_ACCESS_TOKEN_MINUTES=60

FLASK_DEBUG=true

POSTGRES_DB=finance
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
